Chances of Admission

In [ ]:
# Step 1: import libraries
import pandas as pd

In [ ]:
#Step 2: import data
df = pd.read_csv('/content/Admission_Predict.csv')

In [ ]:
df.head(2)

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,324,107,4,4.0,4.5,8.87,1,0.76

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Serial No.         400 non-null    int64
 1   GRE Score          400 non-null    int64
 2   TOEFL Score        400 non-null    int64
 3   University Rating  400 non-null    int64
 4   SOP                400 non-null    float64
 5   LOR                400 non-null    float64
 6   CGPA               400 non-null    float64
 7   Research           400 non-null    int64
 8   Chance of Admit    400 non-null    float64
dtypes: float64(4), int64(5)
memory usage: 28.2 KB

In [ ]:
df.describe()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
count,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000
mean,200.500000,316.807500,107.410000,3.087500,3.400000,3.452500,8.598925,0.547500,0.724350
std,115.614301,11.473646,6.069514,1.143728,1.006869,0.898478,0.596317,0.498362,0.142609
min,1.000000,290.000000,92.000000,1.000000,1.000000,1.000000,6.800000,0.000000,0.340000
25%,100.750000,308.000000,103.000000,2.000000,2.500000,3.000000,8.170000,0.000000,0.640000
50%,200.500000,317.000000,107.000000,3.000000,3.500000,3.500000,8.610000,1.000000,0.730000
75%,300.250000,325.000000,112.000000,4.000000,4.000000,4.000000,9.062500,1.000000,0.830000
max,400.000000,340.000000,120.000000,5.000000,5.000000,5.000000,9.920000,1.000000,0.970000

In [ ]:
# Step 3: Define X(features) and Y(Target)
df.columns

Index(['Serial No.', 'GRE Score', 'TOEFL Score', 'University Rating', 'SOP',
       'LOR ', 'CGPA', 'Research', 'Chance of Admit '],
      dtype='object')

In [ ]:
y = df['Chance of Admit ']

In [ ]:
x = df[['GRE Score', 'TOEFL Score', 'University Rating', 'SOP',
       'LOR ', 'CGPA', 'Research']]

In [ ]:
x.shape,y.shape

((400, 7), (400,))

In [ ]:
# Step 4: train_test_split
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size= 0.3,random_state = 9598)

In [ ]:
x_train.shape,x_test.shape,y_train.shape,y_test.shape

((280, 7), (120, 7), (280,), (120,))

In [ ]:
# Step 5: Identify the type problem and select the Model
#It is a regrssion Problem
from sklearn.linear_model import LinearRegression
model = LinearRegression()

In [ ]:
# Step 6: Train/Fit the model --- it is the step where the actually machine learning
model.fit(x_train,y_train)

LinearRegression()

In [ ]:
# Step 7: predict the model
y_pred = model.predict(x_test)

In [ ]:
y_pred

array([0.95500546, 0.76311945, 0.85262484, 0.63680605, 0.92862075,
       0.5413025 , 1.00104605, 0.69966355, 0.76783382, 0.81551938,
       0.655826  , 0.60507997, 0.44971686, 0.72811828, 0.81830272,
       0.74371278, 0.92585857, 0.74002002, 0.69930826, 0.68281163,
       0.46700002, 0.69914419, 0.93132088, 0.67854957, 0.77082169,
       0.76580771, 0.67263644, 0.9343038 , 0.75105891, 0.60889367,
       0.83119172, 0.84920858, 0.54501595, 0.78402841, 0.782601  ,
       0.68960906, 0.71764222, 0.5709689 , 0.61593077, 0.71349928,
       0.65974658, 0.72387253, 0.77612103, 0.93971848, 0.86517387,
       0.60462927, 0.80669492, 0.79976099, 0.59330401, 0.9301869 ,
       0.52978841, 0.82889695, 0.65003407, 0.86680557, 0.62301957,
       0.74170431, 0.72717049, 0.68513984, 0.67698306, 0.62543732,
       0.66343796, 0.70425815, 0.80402412, 0.65107055, 0.80000219,
       0.86440993, 0.58336849, 0.72451751, 0.7764818 , 0.56535486,
       0.7870116 , 0.75853777, 0.64547703, 0.78084896, 0.69585066,
       0.73261898, 0.71611698, 0.65522085, 0.73790148, 0.779029  ,
       0.53300353, 0.71161001, 0.89014855, 0.54664713, 0.54962888,
       0.71317896, 0.59119345, 0.7110344 , 0.75078915, 0.6237242 ,
       0.84433609, 0.8965345 , 0.90828874, 0.78491206, 0.53975914,
       0.79057051, 0.53915091, 0.67221776, 0.65608054, 0.69245653,
       0.74164547, 0.82053005, 0.65444742, 0.59287003, 0.73206408,
       0.81569681, 0.57986548, 0.95645888, 0.50056419, 0.704889  ,
       0.72502215, 0.71592143, 0.61928969, 0.90885911, 0.82427479,
       0.69801297, 0.80538565, 0.85627948, 0.60688314, 0.85944277])

In [ ]:
y_test

384    0.96
89     0.74
268    0.83
387    0.53
129    0.92
       ...
223    0.71
99     0.79
185    0.89
224    0.67
236    0.85
Name: Chance of Admit , Length: 120, dtype: float64

In [ ]:
# Step 8: Calculate the Accuracy of the Model
from sklearn.metrics import mean_absolute_error, mean_absolute_percentage_error,mean_squared_error

In [ ]:
mean_absolute_error(y_test,y_pred)

0.046450103094343595

In [ ]:
per_e = mean_absolute_percentage_error(y_test,y_pred)

In [ ]:
per_e

0.0782728298699861

In [ ]:
accuracy1 = (1-per_e)*100

In [ ]:
accuracy1

92.17271701300139

In [ ]:
mean_squared_error(y_test,y_pred)

0.004323212402649268

# Second Model -> KNeighborsRegressor

In [ ]:
from sklearn.neighbors import KNeighborsRegressor
model2 = KNeighborsRegressor()

In [ ]:
model2.fit(x_train,y_train)

KNeighborsRegressor()

In [ ]:
y_pred2 = model2.predict(x_test)
y_pred2[:5]

array([0.946, 0.784, 0.844, 0.638, 0.946])

In [ ]:
y_test[:5]

384    0.96
89     0.74
268    0.83
387    0.53
129    0.92
Name: Chance of Admit , dtype: float64

In [ ]:
error2 = mean_absolute_percentage_error(y_test,y_pred2)
error2

0.09446683896597499

In [ ]:
acc2 = (1-error2)*100
acc2

90.55331610340251

# Thrid Model -> DecisionTreeRegressor

In [ ]:
from sklearn.tree import DecisionTreeRegressor
model3 = DecisionTreeRegressor()

In [ ]:
model3.fit(x_train,y_train)

DecisionTreeRegressor()

In [ ]:
y_pred3 = model3.predict(x_test)
y_pred3[:5]

array([0.96, 0.8 , 0.78, 0.68, 0.93])

In [ ]:
y_test[:5]

384    0.96
89     0.74
268    0.83
387    0.53
129    0.92
Name: Chance of Admit , dtype: float64

In [ ]:
error3 = mean_absolute_percentage_error(y_test,y_pred3)
error3

0.13026962594649868

In [ ]:
acc3 = (1-error3)*100
acc3

86.97303740535013

# Fourth Model -> RandomForestRegressor

In [ ]:
from sklearn.ensemble import RandomForestRegressor
model4 = RandomForestRegressor()

In [ ]:
model4.fit(x_train,y_train)

RandomForestRegressor()

In [ ]:
y_pred4 = model4.predict(x_test)
y_pred4[:5]

array([0.9584, 0.7909, 0.8073, 0.6398, 0.9324])

In [ ]:
y_test[:5]

384    0.96
89     0.74
268    0.83
387    0.53
129    0.92
Name: Chance of Admit , dtype: float64

In [ ]:
error4 = mean_absolute_percentage_error(y_test,y_pred4)
error4

0.08922516663380721

In [ ]:
acc4 = (1-error4)*100
acc4

91.07748333661928

Let's compare the accuracy with all 4 models

In [ ]:
#LinearRegressor
accuracy1

92.17271701300139

In [ ]:
#KNeighborsRegressor
acc2

90.55331610340251

In [ ]:
#DecsionTree
acc3

86.97303740535013

In [ ]:
#RandomForest
acc4

91.07748333661928